.nav-bar {
    position: fixed; 
    top: 20%;
    right: 20px;
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    background-color: white; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.icon-container {
    display: flex;
    flex-direction: column; 
}

.nav-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    cursor: pointer; 
}

.nav-icon:hover {
    opacity: 0.7;
}
